$navbar-light-color: black;
$navbar-light-hover-color: #41B883;
$navbar-light-color:  black;

@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

.nav-link{
  font-weight: 400;
}

.btn, .btn-sm {
  font-weight: 700;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: black;
  font-weight: 500;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.login-form-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27rem;
  min-height: 35rem;
  background-color: #563d7c;
  border-radius: 0.5rem;
}

.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 94%;
  min-height: 32rem;
  background-color: #41B883;
  border-radius: 0.5rem;
}

.login-form-card {
  padding: 2rem 2rem;
  border-radius: 0.8rem;
}

.layout-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  // align-items: center;
  // flex-wrap: space;
  margin-left: 0;
  margin-right:0;
  // height: 80vh;
  padding-bottom: 5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.add-edit-cancel-btn {
  width: 100%;
  background-color: gray;
  color: black;
  font-weight: 500;
  border: solid black 0.1rem;
}

.add-edit-category-form-content {
  padding-top: 1rem;
  padding-bottom: 2rem;
  min-width: 20rem;
  min-height: 28rem;
  border-radius: 1rem;
  border: solid 0.2rem;
  background-color: #ffe6cc;
}

.add-edit-category-form {
  margin: auto;
  width: 25rem;
}

.add-edit-category-form-title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.category-form-btn-container {
  margin-top: 2rem;
}

.add-edit-category-btn {
  width: 100%;
  background-color: orange ;
  color:black;
  font-weight: 500;
  border: solid black 0.1rem;
}

.category-cancel-btn {
  width: 100%;
  background-color: grey;
  color: black;
  font-weight: 500;
  border: solid black 0.1rem;
}

label {
  text-align: left;
  font-weight: 700;
}

input[type=text], input[type=email], input[type=password], input[type=date], input[type=number]  {
  border: solid black .1rem;
  border-radius: 0.5rem;
  color: black;
}

.text-area {
  border: solid black .1rem;
  border-radius: 0.5rem;
  color: black;
}

.add-edit-product-form-content {
  padding-top: 1rem;
  padding-bottom: 2rem;
  min-width: 20rem;
  min-height: 28rem;
  border-radius: 1rem;
  border: solid 0.2rem;
  background-color: #ffe6cc;
}

.add-edit-product-form {
  margin: auto;
  width: 25rem;
}

.add-edit-product-form-title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.product-form-btn-container {
  margin-top: 2rem;
}

.add-edit-product-btn {
  width: 100%;
  background-color: orange ;
  color:black;
  font-weight: 500;
  border: solid black 0.1rem;
}

.product-cancel-btn {
  width: 100%;
  background-color: grey;
  color: black;
  font-weight: 500;
  border: solid black 0.1rem;
}

.add-edit-banner-form-content {
  padding-top: 1rem;
  padding-bottom: 2rem;
  min-width: 20rem;
  min-height: 28rem;
  border-radius: 1rem;
  border: solid 0.2rem;
  background-color: #ffe6cc;
}

.add-edit-banner-form {
  margin: auto;
  width: 25rem;
}

.add-edit-banner-form-title {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.add-edit-banner-btn {
  width: 100%;
  background-color: orange ;
  color:black;
  font-weight: 500;
  border: solid black 0.1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;
}

.search-by {
  min-width: 5rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: solid #d9d9d9 0.1rem;
  margin-right: 1rem;
  color: black;
  font-weight: 500;
}

#search {
  min-width: 10rem;
  font-size: 0.8rem;
  border-radius: 0.5rem;
  border: solid #d9d9d9 0.1rem;
}

.error {
  text-align: center;
}

#btn-login {
  font-weight: 700;
  background-color: #6f42c1; 
  border: solid black 0.1rem;
  border-radius: 0.3rem;
}

#btn-login:hover {
  background-color: darken(#6f42c1 , 15%);
}

#btn-logout {
  font-weight: 500;
  text-align: center;
}

#login-btn-login {
  width: 100%;
  background-color: #6f42c1;
}

#login-btn-reg {
  width: 50%;
}

#login-btn-cancel {
  width: 50%;
}

#btn-google-container {
 display: flex;
 justify-content: center;
}

#register-btn-reg {
  width: 50%;
}

#register-btn-cancel {
  width: 50%;
}
