$box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


@mixin custom-padding() {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

}

@mixin center() {
    align-items: center;
    align-content: center;
}
@mixin  padding() {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@mixin  custom-login-margin {
    margin-bottom: 50px;
    margin-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
}
.cust-navbar{
    display: flex;
    justify-content: space-between;
    @include padding();
    @include center() ;
    .left-item{
        width: 15%;
        display: flex;
        justify-content: space-around;
        @include center();
    }
}
.container-login{
    
    border: black 2px solid;
    width: 400px;
    height: 25rem;
    margin: auto;
    display: flex;
    @include custom-login-margin();
    justify-content: space-between;
    box-shadow: $box-shadow;
    h1{
        text-align: center;
    }
}
.container-add{

    border: black 2px solid;
    width: 400px;
    height: 35rem;
    margin: auto;
    display: flex;
    @include custom-login-margin();
    justify-content: space-between;
    box-shadow: $box-shadow;
    h1{
        text-align: center;
    }
}
.cust-navbar{
    background-color: #F2F2F2;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    
    .right-item{
        .btn {
            margin-left: 10px;
        }
    }
    a{
        text-decoration: none;
        color: black;
    }
}


.container-product{
    margin-bottom: 20px;
    margin: auto;
    max-width: 1500px;
    display: flex;
    @include custom-padding();
    flex-wrap: wrap;
    justify-content: space-evenly;

    .card{
        padding-top: 10px;
        margin-bottom: 30px;
        margin-left: 10px;
        align-items: center;
        box-shadow: $box-shadow;

        img {
            width: 80%;
            height: 15vw;
        }

        .card-body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: baseline;
            .btn{
                margin-left: 10px;
            }
        }
    }
}