*
{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #f1f3f4;
    font-family: sans-serif;
}

/* nav-bar */
.top-nav-bar
{
    height: 57px;
    position: -webkit-sticky;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;
}
.logo
{
    height: 40px;
    margin: 5px 10px;
    margin-left: 0;
}
.form-control
{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none !important;
}
.input-group-text
{
    background: orange !important;
    border: 1 px solid orange;
    margin: 8.5px 10px 3px 0;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
}
.search-box
{
    display: inline-flex;
    width: 40%
}

.fa-search
{
    color: #fff
}

.menu-bar
{
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul
{
    display: inline-flex;
    float: right
}

.menu-bar ul li 
{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}
.navbar-brand
{
    color: orange;
    text-decoration: none;
    cursor: pointer;
}

.navbar-brand:hover
{
    color: orange;
    text-decoration: none;
}

.menu-bar ul li a
{
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.fa-shopping-basket
{
    margin-right: 5px;
}

@media only screen and (max-width: 980px)
{
    .top-nav-bar
    {
        height: 118px;
        border-bottom: 0;
    }
    .search-box
    {
        width: 100%;
    }
    .menu-bar
    {
        width: 100%;
    }
    .menu-bar ul
    {
        margin: 10px 0;
        width: 100%;
    }
    .menu-bar ul li
    {
        height: 57px;
        width: 100%;
    }

}

/* Side menu */
.side-menu
{
    height: 1000px;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background-color: #ddd;
    position: static;
}

.side-menu ul
{
    margin-left: 10px;
}

.side-menu ul li
{
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}
.side-menu ul li:hover
{
    color: orange;
}
.fa fa-angle-right
{
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}

@media only screen and (max-width: 980px)
{
    .side-menu
    {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
    }
}