.input-group-prepend {
  width: 6rem;
}

.input-group-text {
  width: 100%;
  font-size: small;
}

#app, .main {
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.btn-login, .btn-logout {
  width: 4rem;
}

.login-form, .login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
}

.login-all-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.navbar-brand {
  font-size: small;
}

.btn {
  font-size: small;
}

.btn-add {
  width: 6.1rem;
}

.card-img-top {
  height: 200px;
}

.button-add-form {
  display: flex;
  justify-content: center;
}

.select-category {
  overflow: scroll;
}

.direct-register {
  font-family: 'Ubuntu', serif;
}

.title {
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
}

.nav-title {
  font-size: large;
}

.button {
  display: flex;
  justify-content: center;
}

.btn-register {
  width: 10rem;
}

.form-control {
  width: 25%;
}

.filter-category {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.up-down {
  cursor: pointer;
}

.order-qty {
  display: flex;
  justify-content: center;
}